@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;700&family=Noto+Sans&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* title */
h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 45px;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* img container */
.img-container {
  margin: 10px 20%;

}

.img-container img {
  width: 100%;
  margin-top: 5px;
}

/* media queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

  .img-container {
    margin: 10px;
  }
}